#divs li {
    margin: 20px;;
}
#divs{
    background-color:#28cdba;
    margin: 20px;
}
.list-group-item.Done,.list-group-item.Due{
    font-weight: bold;
}
.list-group-item.Done {
    color: green;
  }
  
  .list-group-item.Due {
    color: red;
  }
  
  
  
  